fastapi
uvicorn
python-dotenv
psycopg2-binary
pandas
yfinance
plotly
pyjwt
passlib[bcrypt]
pydantic
python-dateutil
nltk
vaderSentiment
snscrape
praw
scikit-learn
transformers
numpy<2.0.0
sqlalchemy-2.0.41
pymongo